.header {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 200px;
}

.title {
  text-align: center;
  font-size: 1.5em;
  h1{
    margin: 3% 0;
  }
  .red {
    color: #E03237;
    text-shadow: 0 4px 5px rgba(#333, 0.3);
  }
}

.badges{
  text-align: center;
}
