@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700|Montserrat:400,700');
@import '~normalize.css';
@import 'assets/styles/base';
@import 'assets/styles/header';
@import 'assets/styles/preview';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

pre {
    margin: 2em 0;
    border-radius: 4px;
    display: flex;
    height: 100%;
    word-wrap: normal;
    overflow-y: auto;
    border: 1px solid lightgray;
    code {
        border: none;
        display: block;
        padding: 24px;
    }
}

code {
    border-radius: 4px;
    border: 1px solid lightgray;
    flex: 1;
    padding: 7px;
    line-height: 1.8em;
}

li {
    margin-bottom: 1em;
}